<div id="stripes">
  <span class="one"></span>
  <span class="two"></span>
  <span class="three"></span>
  <span class="four"></span>
  <span class="five"></span>
</div>
<section id="intro">
  <div class="container-lg">
    <a href="#" class="announcement">
      <span class="new-pill">New!</span>
      <span class="message">
        {{ announcement }}
      </span>
      <i class="fa fa-arrow-right"></i>
    </a>
    <h1>"Howdy, I'm Atif"</h1>
    <p class="common-BodyText">
      I enjoy data science and web development, but at heart I'm a
      <strong>trailblazer</strong>. I study
      <strong>Software Engineering</strong> at the
      <strong>University of Waterloo</strong> with
      a statistics focus. Boring stuff aside, I like
      teaching and creating, so feel free to browse
      around and maybe learn something new.
    </p>
    <ul>
      <li>
        <a class="common-Button" href="#">Explore
          <i style="margin-left: 10px" class="fa fa-globe"></i>
        </a>
      </li>
      <li>
        <a class="common-Button" href="https://www.youtube.com/channel/UCDxiE9AC9JrdySAOMxffjyA">Watch
          <i style="margin-left: 10px" class="fa fa-film"></i>
        </a>
      </li>
    </ul>
  </div>
</section>