<div id="stripes">
  <span class="one"></span>
  <span class="two"></span>
  <span class="three"></span>
  <span class="four"></span>
  <span class="five"></span>
  <span></span>
</div>
<section id="intro">
  <div class="container-lg">
    <a href="#" class="announcement">
      <span class="new-pill">New!</span>
      <span class="message">
        This is a test announcement.
      </span>
      <i class="fa fa-arrow-right"></i>
    </a>
    <h1>Welcome to my website!</h1>
    <p class="common-BodyText">
      Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking
      businesses around the world.
    </p>
    <ul>
      <li>
        <a class="common-Button" href="#">Explore
          <i style="margin-left: 10px" class="fa fa-globe"></i>
        </a>
      </li>
      <li>
        <a class="common-Button" href="#">Watch
          <i style="margin-left: 10px" class="fa fa-film"></i>
        </a>
      </li>
    </ul>
  </div>
</section>