<!--
<section id="primary">
    <section id="introduction" class="container-lg">
        <h2 class="common-UppercaseTitle"> <span>The Secret to Getting Ahead is Getting
                Started...</span> </h2>
        <p class="common-BodyText"> The quote by Mark Twain
            has been my philosophy ever since I was young. I don't believe in time spent
            questioning whether or not I'm capable of solving a problem or building
            something new; instead, I prefer to use that time to get started. Whenever I
            hit a roadblock I've <strong>learned how to learn </strong>what I'm missing
            in efficient and meaningful ways, either by following in example or adapting
            from my own iterations. At its core, this way of thinking is about embracing
            gaps in our knowledge by viewing them as opportunities to grow as people.
        </p>
    </section>
    <section id="photo"> <img class="image" src="/src/assets/images/dsg.jpg"> </section>
    <section id="photo2"> <img class="image" src="/src/assets/images/dsg.jpg"> </section>
</section>
-->