@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

// Mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// CSS resets
* {
    box-sizing: border-box;
}

html, body, blockquote, button, dd, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin: 0;
    padding: 0
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    background-color: floralwhite;
}